.personStyle {
  text-Align: center;
  padding: 20px;
  margin: 25px;
};

.ageButtonStyle {
  color: white;
  background: gray;
  font-Size: 16px;
  height: 3em;
  width: 25em;
  border-Radius: 10px;
}